<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSRF Form Example</title>
</head>
<body>
<h1>CSRF Form Example</h1>

<form th:action="@{/example/submit}" method="post">

    <label for="data">Token:</label>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <!-- Your form fields here -->
    <label for="data">Data:</label>
    <input type="text" id="data" name="data">

    <button type="submit">Submit</button>
</form>

</body>
</html>